.pace .pace-progress {background: #fea700;}
.bigIcon,.socialList li a:hover{color: #fea700;}
.btn-new,.downloadNumber{background: #fea700}
.btn-new:hover,.btn-new:focus{background: #fea700}
#share{background-color: #fea700;}
ul.nav li a.blogLi{color: #fea700;}
