.pace .pace-progress {background: #61c4e8;}
.bigIcon,.socialList li a:hover{color: #61c4e8;}
.btn-new,.downloadNumber{background: #61c4e8}
.btn-new:hover,.btn-new:focus{background: #61c4e8}
#share{background-color: #61c4e8;}
ul.nav li a.blogLi{color: #61c4e8;}